@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Blaka&family=My+Soul&family=Rock+3D&family=Rubik+Beastly&family=Rubik+Bubbles&family=Rubik+Distressed&family=Rubik+Glitch&family=Rubik+Microbe&display=swap");

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
		--line-color-1: rgb(226, 226, 226);
		--line-color-2: #e8e8e8;
	}
}

body {
	@apply bg-military;
}

.page-content {
	@apply bg-paper;
	background-image: linear-gradient(
			var(--line-color-1) 1.5px,
			transparent 1.5px
		),
		linear-gradient(90deg, var(--line-color-1) 1.5px, transparent 1.5px),
		linear-gradient(var(--line-color-2) 1px, transparent 1px),
		linear-gradient(90deg, var(--line-color-2) 1px, transparent 1px);
	background-position: -1.5px -1.5px, -1.5px -1.5px, -1px -1px, -1px -1px;
	background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
}

li {
	list-style: none;
}
